@use '../abstracts/' as core;

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.heading {
    position: relative;
    overflow: hidden;
    padding: core.dimension(l);
    @include core.alinear-izquierda(column, 15%);

    h1 {
        font-family: "Berkshire Swash", serif;
        color: core.color(primary);
        font-size: core.dimension(m);
        position: relative;
        z-index: 1;
    }

    h2 {
        color: core.color(primary);
        font-size: 1rem;
        margin-top: 1rem;
        position: relative;
        z-index: 1;
        max-width: 28rem;
        line-height: 1.5; 
        text-align: left;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../sassdoc/assets/images/morenita-derecha.png");
        background-size: cover ;
        background-position: right;
        background-repeat: no-repeat;
        transform: scale(1.1);
        z-index: 0;
    }
}