@use '../abstracts/' as core;

.hero {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    min-height: 700px;
    padding-top: 150px;  
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: right center;
        z-index: -1;
    }

    // Capa para la imagen difuminada
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../sassdoc/assets/images/morenita-derecha.png");
        background-size: cover;
        background-position: right center;
        z-index: -2;
        filter: blur(0.03rem);
        transform: scale(1.1);
    }
}

.second-nav 
{ 
    @include core.centrar();
    grid-area: 3 / 1 / 4 / 4; 

    ul
     {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li
        {
            padding: 1rem;
            list-style: none;
            a
            {
                text-decoration: none;
                ion-icon 
                {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                    background: core.color(light);
                    padding: 1rem;
                    border-radius: 50%;
                    color: core.color(primary);
                }
            }
        }
    }
}

.heading 
{
    text-align: center;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 4; 
}