@use '../abstracts/' as core;

* {
    font-family: core.$font-nav;
    box-sizing: border-box;
}

.botones-colores {
    @include core.flexbox(row, center, center);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    button {
        @include core.border-radius($color: core.color(primary), $radius: 0.5rem);
        border: 1px solid core.color(primary);
        padding: 1rem 2rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:nth-child(1) {
            background-color: core.color(primary);
            color: core.color(light);
        }

        &:nth-child(2) {
            background-color: core.color(secondary);
            color: core.color(light);
        }

        &:nth-child(3) {
            background-color: core.color(tertiary);
            color: core.color(light);
        }

        &:nth-child(4) {
            background-color: core.color(quaternary);
            color: core.color(primary);
        }

        &:nth-child(5) {
            background-color: core.color(light);
            color: core.color(secondary);
        }

        &:hover {
            opacity: 0.8;
            transform: translateY(2px);
        }
    }
    @include core.response(sm) {
        .botones-colores {
            justify-content: center;
        }
    }

}