@use '../abstracts/' as core;

* {
    font-family: core.$font-nav;
    box-sizing: border-box;
}

.botones-colores {
    display: flex; // Para que se vean en línea
    gap: 10px;    // Espacio entre ellos
    flex-wrap: wrap; // Por si no caben en móvil

    button {
        border-radius: 20%;
        border: 1px solid core.color(primary);
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        // Botón 1: Primary
        &:nth-child(1) {
            background-color: core.color(primary);
            color: core.color(light);
        }

        // Botón 2: Secondary
        &:nth-child(2) {
            background-color: core.color(secondary);
            color: core.color(primary);
        }

        // Botón 3: Tertiary
        &:nth-child(3) {
            background-color: core.color(tertiary);
            color: core.color(light);
        }

        // Botón 4: Quaternary
        &:nth-child(4) {
            background-color: core.color(quaternary);
            color: core.color(primary);
        }

        // Botón 5: Light
        &:nth-child(5) {
            background-color: core.color(light);
            color: core.color(secondary);
        }

        &:hover {
            opacity: 0.8;
            transform: translateY(-2px);
        }
    }
}