@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

// Paleta de colores
$colors: (
    primary: #010440,
    secondary: #030a87ea,
    tertiary: #F2A922,
    light: #d3eab7,
    quaternary: #c44b88
);

// Dimensiones (tamaños)
$dimensiones:(
    xs: 1rem,
    s: 2rem,
    m: 4rem,
    l: 8rem,
);

// Variables globales
$font-nav: Arial, sans-serif;
$font-titulos: "Berkshire Swash", serif;

// Función para obtener colores
/// @param {string} $name - Nombre del color
@function color($name){
    @return map.get($colors, $name);
}

// Función para obtener dimesion
/// @param {string} $dim - dimension
@function dimension($dim){
    @return map.get($dimensiones, $dim);
}