@use '../abstracts/' as core;

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.heading {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // =========================
  // TABLET Y DESKTOP
  // =========================
  @media (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
    padding: 3rem 10%;
  }

  // =========================
  // TITULO
  // =========================
  h1 {
    font-family: core.$font-titulos;
    color: core.color(primary);
    font-size: core.dimension(m);
    line-height: 1.1;
    margin: 0;
    z-index: 2;
    width: 100%;
    max-width: 400px;
  }

  // =========================
  // SUBTITULO
  // =========================
  h2 {
    color: core.color(primary);
    margin-top: 1.5rem;
    font-size: clamp(1rem, 2vw, 1.4rem);
    line-height: 1.6;
    font-weight: 600;
    width: 100%;
    max-width: 600px;
    z-index: 2;
  }
}